*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 99.9vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(45deg, #0713f3, #9900F0, #F900BF);
    background-size: 200% 200%;
    animation:fundo .9s ease-in-out infinite;
}

@keyframes fundo{
    0%{
        background-position: 0% 50%;
    }
    
    100%{
        background-position: 50% 0%;
    }
}


h1{
    font-size: 4vw;
    padding: 15px;
    box-shadow: 0 0 50px 0 black;
}   